@value makerBlack, makerWheat, makerShadow, makerColorful, makerLightGrey, makerGrey, makerGreen, makerWhite from '../../common/colors.css';

.card {
  display: flex;
  align-items: center;
  width: 100%;
  border-radius: 1em;
  margin-bottom: 0.5em;
  padding: 0.2em 0;
  box-shadow: 6px 6px 6px makerShadow;
  max-width: 30rem;
}

.card.dark {
  background-color: makerBlack;
  color: makerWhite;
}

.card.light {
  background-color: makerWhite;
  color: makerBlack;
}

.card.colorful {
  /* use background for linear-gradient */
  background: makerColorful;
  color: makerBlack;
}

.avatar {
  width: 9.5em;
  height: 9.5em;
  padding: 1em;
  margin-left: 0.5em;
  margin-right: 1em;
  border-radius: 50%;
}

.info {
  width: 100%;
}

.name,
.company,
.title,
.email,
.message {
  font-size: 0.8rem;
  margin-bottom: 0.2em;
}

.name {
  font-size: 1.2rem;
}

.company {
  margin-bottom: 1em;
}

.company::after {
  content: '';
  display: block;
  width: 90%;
  height: 2px;
  background-color: makerWheat;
  transform: translateY(0.5em);
}

.title {
}

.email {
}

.message {
}
