@value makerBlack, makerLightGrey, makerGrey, makerGreen, makerWhite from '../../common/colors.css';
@value mediaQuery from '../../common/size.css';

.maker {
  width: 90%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.container {
  display: flex;
  flex: 1;
  width: 100%;
  background-color: makerWhite;
}

@media screen and (max-width: mediaQuery) {
  .container {
    flex-direction: column;
  }
}
